nav {
    background-color:#6495ed;
}
.container h1{ 
padding-top: 50px;

}
:root {
    --primary:#8b99df;
    --secondary:#88e2e2 ;
    --light:#eedacb;
    --dark:#c1d6dd;
}
body{
    color: #816f77;
}


/********** Template CSS **********/
