nav {
    /* background-color:#7e90e9; */
    background: linear-gradient(to right,#57639e,#5dd4d4);
}
.container h1{ 
padding-top: 50px;

}
:root {
    --primary:#3347aa;
    --secondary:#79fafa ;
    --light:rgb(243, 243, 106);
    --dark:#202b2e;
}
/* body{
    color: #816f77;
} */
.form-control{
    /* background: transparent;
    opacity: 0.9;
    color: white; */

    color: white;
    

     background: rgba(255, 255, 255, 0.13);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */

    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );

}
.form-control:focus{
background: transparent;
color: white;



}

.form-control::placeholder{
color: white;


}


  
    











/********** Template CSS **********/
